<mat-nav-list>
  <div class="logo py-4">
    <img
      class="logo2"
      src="../../../assets/multiscale-logo-horizontal.png"
      alt="Company logo"
    />
  </div>
  <h2 mat-subheader class="mt-2">APPLICATIONS</h2>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active"
    ><mat-icon>home</mat-icon> Home</a
  >
  <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"
    ><mat-icon>dashboard</mat-icon> Dashboard</a
  >
  <a mat-list-item  routerLinkActive="list-item-active"
    ><mat-icon>edit</mat-icon>List</a
  >
  <a mat-list-item  routerLinkActive="list-item-active"
    ><mat-icon>edit</mat-icon> List2</a
  >
</mat-nav-list>
